body {background-color:#f4f4f9}

dt {
  font-weight: bold;
  float: left;
  margin-right: 1em;
}

h3,
h4 {
  clear: both;
  border-bottom: dotted #80DEEA 2px;
  background-color: #ECEFF1;
  padding: 0.25em 0.5em;
}

h2 {
  background-color: #00BCD4;
  margin: -0.75em  -0.7em 0.5em  -0.7em;
  padding: 0.25em 0.5em;
  color:#fff;
  border-radius: 2px 2px 0px 0px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
}

.aggGraph {
 background-color: #fff;
 margin:1em;
 padding:1em;
 box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
 border-radius: 2px;
}
