<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}
<body>

  {%- include header.html -%}

  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      <ul class="contents">

        {% capture repo_list %}
          {% for repo in site.data.repo.repo %}
            {{repo.reponame}}
            {% if forloop.last == false %}::{% endif%}
          {% endfor %}
        {% endcapture %}

        {% assign repo_array = repo_list | split: '::' | sort_natural  %}

        {% for repo in repo_array  %}

        <li>
          <a href="../repo/{{repo | strip}}">
          {{repo}}
          </a>
        </li>
        {%endfor%}
      </ul>
  </main>

  {%- include footer.html -%}

</body>
</table>
</html>
