<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>

  {%- include header.html -%}

  <main class="page-content" aria-label="Content">
    <div class="wrapper">

      <h1>{{page.name}}</h1>

      <div class="community">

        {% assign reponame = page.reponame %}
        {% assign info = site.data.month0[reponame] %}
        {% assign info12 = site.data.month12[reponame] %}

        <div class="card people-card" id="{{reponame}}">
          <h2>{{reponame}}</h2>

          {%- include repo_info.html -%}

          <h3>Issues</h3>
            {%- include issues.html-%}

          <h3>Labels</h3>
          <h4>Mentorship labels</h4>
          <h5> Month 0 </h5>
            <table>
              <thead>
                <th></th>
                <th>month0</th>
                <th>month12</th>
              </thead>
              {%for label in info.labels.open_mentorship_labels %}
                <tr>
                  <td>{{label[0]}}</td>
                  <td>{{label[1]}}</td>
                  <td>{{info12.labels.open_mentorship_labels[label[0]]}}</td>
                </tr>
                {%endfor%}
            </table>
            <h4>All labels</h4>
            <div>🏷 0: {{info.labels.all_labels | join: ", "}}</div>
            <div>🏷 12: {{info12.labels.all_labels | join: ", "}}</div>


          <h3>Time to close</h3>
          <table>
            <thead>
              <th></th>
              <th>Month0</th>
              <th>Month12</th>
            </thead>
            {% assign closeTime = info.timeToMerge.timeToClose%}
            {% assign closeTime12 = info12.timeToMerge.timeToClose%}
            <tr><td>PR Mean: </td>
              <td>{{closeTime.pr.mean.humanReadable}}</td>
              <td>{{closeTime12.pr.mean.humanReadable}}</td>
            </tr>
            <tr>
              <td>PR Median: </td>
              <td> {{closeTime.pr.median.humanReadable}}</td>
              <td> {{closeTime12.pr.median.humanReadable}}</td>
            </tr>
            <tr>
              <td>Issue Mean: </td>
              <td> {{closeTime.issue.mean.humanReadable}}</td>
              <td> {{closeTime12.issue.mean.humanReadable}}</td>
            </tr>
            <tr>
              <td>Median:  </td>
              <td>{{closeTime.issue.median.humanReadable}}</td>
              <td>{{closeTime12.issue.median.humanReadable}}</td>
            </tr>
        </table>

          <h3>Community</h3>
          <table>
            {%for comm in info.community%}
            <tr>

              <td>{{comm[0]}}</td>
              <td>
              {% if comm[0] == "files"%}
                  <table>
                {% for file in comm[1]%}

                    <tr>
                      <td>{{file[0]}}</td>
                      <td>{{file[1]}}</td>
                    </tr>
                {%endfor%}
                  </table>
              {% else %}
                {{comm[1]}}
              {%endif %}
            </td>
            </tr>
            {% endfor %}
          </table>
      </div>
    </div>

    </div>

  </main>

  {%- include footer.html -%}

</body>

</html>
