<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body>

  {%- include scripts.html -%}
  {%- include header.html -%}

  <main class="page-content" aria-label="Content">
    <div class="wrapper">

      <h1>{{page.name}}</h1>

      <div class="community">

        {% assign reponame = page.reponame %}
        {% assign info = site.data.month0[reponame] %}
        {% assign info12 = site.data.month12[reponame] %}

        <div class="card people-card" id="{{reponame}}">
          <h2>{{reponame}}</h2>

          {%- include repo_info.html -%}

        <h3>Issues</h3>
        {%- include issues.html-%}        
        {%- include time_to_close_stats.html -%}
        
        {%- include labels.html-%}

        {%- include files.html -%}
        {%- include community.html -%}
      </div>
    </div>

    </div>

  </main>

  {%- include footer.html -%}

</body>

</html>
