<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/luxon@3.0.4/build/global/luxon.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@1.2.0/dist/chartjs-adapter-luxon.min.js"></script>

  {%- include header.html -%}

  <main class="page-content" aria-label="Content">
    <div class="wrapper">

      <h1>{{page.name}}</h1>

      <div class="community">

        {% assign reponame = page.reponame %}
        {% assign info = site.data.month0[reponame] %}
        {% assign info12 = site.data.month12[reponame] %}

        <div class="card people-card" id="{{reponame}}">
          <h2>{{reponame}}</h2>

          {%- include repo_info.html -%}

        <h3>Issues</h3>
        {%- include issues.html-%}        
        {%- include time_to_close_stats.html -%}
        
        {%- include labels.html-%}

        {%- include files.html -%}
        {%- include community.html -%}
      </div>
    </div>

    </div>

  </main>

  {%- include footer.html -%}

</body>

</html>
