<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">

{%- include head.html -%}

<body>

  {%- include scripts.html -%}
  {%- include header.html -%}

  <main class="page-content" aria-label="Content">
    <div class="sidebar_style"> <!-- yes, I know this isn't very semantic at all-->

      {%- include alive_sidebar.html -%}

      <div class="vis">

        <h1>{{page.title}}</h1>

        {{page.content}}

        {% assign activity = site.data.still-active-checks-with-url-columns.rows %}
        {% for survey in site.data.surveys.OSS0 %}

          {% assign project = survey.ProjectPseudonym%}
          {% assign participating_project = activity[project] %}

          <!-- About 100 rows of the survey are blank. We don't need to see 'em. -->
          {% if participating_project != nil %}
            {% assign is_active = activity[project].activity_status_summary %}
            <div class="aggGraph statusList">
              <h2 class="status {{is_active}}">{{survey.ProjectPseudonym}}</h2>
              <div class="subtitle {{is_active}}">{{is_active}}</div>
              {% for question in survey %}
                {% assign k = question[0] %}
                {% assign v = question[1] %}

                <b>{{k}}</b>
                {{v}}<br>

              {% endfor %}
            </div>
            {%endif%}
          
        {% endfor %}
      
      </div>

  </main>

  {%- include footer.html -%}

</body>

</html>