<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">

{%- include head.html -%}

<body>

  {%- include scripts.html -%}
  {%- include header.html -%}

  <main class="page-content" aria-label="Content">
    <div class="wrapper">

      <h1>Survey Variables Map</h1>

      {{page.content}}

      {% assign s0 = site.data.surveys.OSS0[0] | map: 0 %}
      {% assign s6 = site.data.surveys.OSS6[0] | map: 1 %}
      {% assign s12 = site.data.surveys.OSS12[0] | map: 1 %}

      {% assign surveyKeys = s0 | concat: s6  %}
     ,,,,, {{surveyKeys}} ;;;;; {{s0}} ???

      
      <div class="aggGraph">
        <h2>Variables from Month0: </h2>
        <table>
          <thead>
            <th>Var</th>
            <th>Q</th>
            <th>0</th>
            <th>6</th>
            <th>12</th>
          </thead>
          {% for question in surveyKeys %}
          {% assign k = question[0] %}
          {% assign v = question[1] %}
          <tr>
            <td>{{k}}</td>
            <td>{{v}}</td>
            <td>✅</td>
            <td>
              {% unless site.data.surveys.OSS6[0][k].size %} 
              ❌
              {%else%}
              ✅
              {%endunless%}

            </td>
            <td>
              {% unless site.data.surveys.OSS12[0][k].size %} 
              ❌
              {%else%}
              ✅
              {%endunless%}

            </td>
          </tr>
          {% endfor %}
        </table>
      </div>


    </div>

  </main>

  {%- include footer.html -%}

</body>

</html>