<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">

{%- include head.html -%}

<body>

  {%- include scripts.html -%}
  {%- include header.html -%}

  <main class="page-content" aria-label="Content">
    <div class="sidebar_style"> <!-- yes, I know this isn't very semantic at all-->

      {%- include alive_sidebar.html -%}

      <div class="vis">

        <h1>{{page.title}}</h1>

        {{page.content}}

        {% assign activity = site.data.still-active-checks-with-url-columns.rows %}
        <!-- About 100 rows of the survey are blank. We don't need to see 'em. -->
        {% for survey in site.data.surveys.OSS0 %}
          {% assign project = survey.ProjectPseudonym%}
          {% assign participating_project = activity[project] %}

          {% comment %}
            this if filters our the empties mentioned in the html comment above
          {% endcomment %}
          {% if participating_project != nil %}
            {% assign is_active = activity[project].activity_status_summary %}
            <div class="aggGraph statusList">
              <h2 class="status {{is_active}}">{{survey.ProjectPseudonym}}</h2>
              <div class="subtitle {{is_active}}">{{is_active}}</div>

              {% assign interesting_keys = site.data.surveys.interesting_keys%}
              <table>
                <thead>
                  <tr>
                    <th>Question</th>
                    <th>A: Start</th>
                    <th>A: Midpoint</th>
                    <th>A: End</th>
                  </tr>
                </thead>
              {% for question in survey %}

                {% assign k = question[0] %}
                {% assign v = question[1] %}

                {% if interesting_keys.fixed_responses contains k %}

                
                <tr> 
                <td>{{k}}</td>
                <td>{{v}}</td>
                </tr>
                {% endif %}

              {% endfor %}
            </table>
            </div>
            {%endif%}
          
        {% endfor %}
      
      </div>

  </main>

  {%- include footer.html -%}

</body>

</html>