---
title: GeneralAgg
layout: aggregate_reports
---

<div class="aggGraph">
  <table>
    <thead>
      <th>Licence type</th>
     <th> # of projects</th>
    </thead>
    <tbody id="licenceBody">

    </tbody>
  </table>
</div>

<div class="aggGraph">
  <h3>Commits during the study period</h3>
  <canvas id="commitsGraphAge"></canvas>
  <canvas id="commitsGraphScale"></canvas>
  <div id="noCommits"></div>
</div>


<div class="aggGraph">
  <canvas id="timelineAnchor"></canvas>
  <div>Mean project age:
    <span id="meanProjAge"></span>
    years
  </div>
  <div>Median project age:
    <span id="medianProjAge"></span>
    years
  </div>
  Project ages:
  <table id="projAgeTable">
    <thead>
      <tr>
        <th>0-4 years</th>
        <th>5-9 years</th>
        <th>10-19 years</th>
        <th>20+ years</th>

      </tr>
    </thead>
    <tr>
      <td id="age0"></td>
      <td id="age5"></td>
      <td id="age10"></td>
      <td id="age20"></td>
    </tr>
  </table>

</div>

<script>

  const generateLicenceTable = function(){
    let elem = document.getElementById("licenceBody");
  };

  generateLicenceTable()

  const generateCommitChart = function (elem, sortBy) {
    try {
      let visData = [];

      commits.checks.byCommits.map(function(row){
        let nonAnon = row.repoName;
        let pseu = pseudonyms[nonAnon];
        row.ProjectPseudonym = pseu;
        let age = agesByProjName[pseu];
        let size = sizesByProjName[pseu]
        row.scale = row["project-user-count"] = size;
        row.age = new Date(age).getFullYear();
        if (!isNaN(row.age)) {
          visData.push(row);
        } else {
          //NaNs are incomplete responses that gave urls
          //dump nans - tthey'rer no use and they are confusing
        }
      });

      if (sortBy) {
        visData = visData.sort(sorts[sortBy]);
      }

      let none = document.getElementById("noCommits");
    let commitlessRepos = [];
    let commitfulRepos = Object.keys(commits.checks.byName);
    
    survey0.map(function(row){
      let proj = row.ProjectPseudonym;
      let hasCommits = (commitfulRepos.indexOf(proj) < 0);
      if(!hasCommits) {
        commitlessRepos.push(proj);
      } else {
        console.log('👾 proj', proj);
      }
    });

    console.log('👾 commitlessRepos', commitlessRepos);
    none.innerHTML = commitlessRepos.join(", ");

      return new Chart(document.getElementById(elem), {
        type: 'bar',
        data: {
          datasets: [
            {
              data: visData,
              stack: 'Stack 0',
              yAxisID: 'y',
              parsing: {
                yAxisKey: 'repoName', xAxisKey: 'commitCount'
              },
              datalabels: { display: false }
            }
          ]
        },
        options: {
          aspectRatio: 0.7,
          indexAxis: 'y',
          scales: {
            y: {
              ticks: {
                callback: function (value, index, ticks) {
                  let nonAnon = this.getLabelForValue(value);
                  let pseu = pseudonyms[nonAnon];
                  return pseu;
                },
                autoSkip: false
              }
            }, x: {
      //        type: 'logarithmic'
            }, y2: {
              title: {
                display: true,
                text: sortBy
              },
              position: 'right',
              grid: {
                drawOnChartArea: false // only want the grid lines for one axis to show up
              },
              ticks: {
                callback: function (value, index, ticks) {
                  return visData[index][sortBy];
                },
                autoSkip: false
              }
            }
          },
          plugins: {
            legend: {
              display: false
            },
            title: {
              display: true,
              text: "Commits per project"
            }
          }
        }
      });
    } catch (e) {
      console.error(e);
    }
  }

  ///////////////////////////////

  // we want the years for a histogram
  let foundedYears = [];
  timeData.map(function (proj) {
    let time = luxon.DateTime.fromISO(proj["project-founded"]);
    if (!time.invalid) {
      foundedYears.push(time);
    }
  });

  // make buckets for each year
  foundedYears = foundedYears.sort();
  let yearsHist = {};
  let start = foundedYears[0].year;
  let end = foundedYears[foundedYears.length - 1].year;

  for (var i = start; i <= end; i++) {
    yearsHist[i] = 0;
  }

  // count projects founded in any year
  foundedYears.map(function (proj) {
    let yearProjFounded = proj.year;

    // add one more to the count for each project founded in this year
    yearsHist[yearProjFounded]++;
  })

  const tl = document.getElementById('timelineAnchor');

  new Chart(tl, {
    type: 'bar',
    data: {
      datasets: [
        {
          label: '# of projects founded in this year',
          data: yearsHist,
          borderWidth: 1
        }
      ]
    },
    options: {
      scales: {
        x: {
          type: 'time',
          time: { // Luxon format string
            unit: 'year'
          }
        }
      }
    }
  });

  // calculate ages of projects in years
  // as opposed to reporting year founded

  let projAges = foundedYears.map(function (projFounded) {

    // this is a hardcode. please still love me.
    let surveyStart = luxon.DateTime.fromISO("2021-06-01");
    let i = luxon.Interval.fromDateTimes(projFounded, surveyStart);
    return i.length('years')
  });

  // calculate mean
  let totalAge = 0;
  projAges.map(function (age) {
    totalAge = totalAge + age;
  });

  // round it a little, please. This rounds to one decimal
  function round(num) {
    return Math.round(num * 10) / 10;
  }

  let meanAge = totalAge / projAges.length;
  meanAge = round(meanAge);
  document.getElementById("meanProjAge").innerHTML = meanAge;

  let medianAge,
    middleVal;
  if (projAges.length % 2 == 1) {
    middleVal = projAges.length / 2 + 0.5
    medianAge = projAges[middleVal];
  } else {
    middleVal = projAges.length / 2;
    medianAge = (projAges[middleVal] + projAges[middleVal + 1]) / 2;
  } medianAge = round(medianAge);
  document.getElementById("medianProjAge").innerHTML = medianAge;

  // calculate project ages in age buckets...
  let ageBuckets = {
    "zeroToFour": 0,
    "fiveToNine": 0,
    "tenToNineteen": 0,
    "twentyPlus": 0
  }

  projAges.map(function (age) {
    if (age < 5) {
      ageBuckets.zeroToFour++;
    } else if (age < 10) {
      ageBuckets.fiveToNine++;
    } else if (age < 20) {
      ageBuckets.tenToNineteen++;
    } else {
      ageBuckets.twentyPlus++;
    }
  });
  document.getElementById("age0").innerHTML = ageBuckets.zeroToFour;
  document.getElementById("age5").innerHTML = ageBuckets.fiveToNine;
  document.getElementById("age10").innerHTML = ageBuckets.tenToNineteen;
  document.getElementById("age20").innerHTML = ageBuckets.twentyPlus;

  //
  generateCommitChart('commitsGraphAge',"age");
  generateCommitChart('commitsGraphScale',"scale");

</script>