<div class="sidebar">
    <div>
        {% assign alive = site.data.aggregate.report_stillAlive %}
        {%for status in alive.checks.byStatus %}

        <h4>{{status[0]}}</h4>
        <div class="column">
            {% assign repos = status[1] | sort_natural %}
            {% for repo in repos %}
            <div><a href="/repo/{{repo}}">{{repo}}</a></div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>

    <div>URLs queried: {{alive.urlsSubmitted}}, Successful results retrieved for: {{alive.successfulResults}} repos.
    </div>
</div>