<canvas id="chartIssuesBar" width="400" height="400"></canvas>
<script>
  const ctx = document.getElementById('chartIssuesBar');
  const data = {{site.data.month0[page.reponame].timeToMerge | jsonify}};
  const dt = luxon.DateTime;
  const dur = luxon.Duration;

  function dateify(anArray) {
    let newArray = anArray.map( function(item){
      var new_item = item;

      let ttc = item["timeToClose"];
      ttc = dur.fromMillis(ttc).as("minutes");
      new_item["timeToClose"] = ttc;

      new_item["created_at"] = dt.fromISO(item["created_at"]);

      return new_item;
    });
    return newArray;
  }

  data.pr = dateify(data.pr);
  data.issue = dateify(data.issue);

  //this generates the labels for the issues graph
  function generateMonthRange(anArray) {
    let start = anArray[anArray.length - 1].created_at,
    end = anArray[0].created_at;
    //one month padding on each side
    end = end.plus({ months: 1 });
    start = start.minus({months:1});

    console.log(start,end);
    let monthNum = luxon.Interval.fromDateTimes(start,end);
  //  monthNum = monthNum.length('months');
    console.log(monthNum);
    monthNum = monthNum.splitBy({months: 1});
    let monthList = monthNum.map(function(x){
      return x.end.toFormat('yyyy LLL');
    });
    monthList.splice(0,0,monthNum[0].start.toFormat('yyyy LLL'));
    return monthList;
  }

  console.log("mn",generateMonthRange(data.issue));

  const myData = {
    labels: generateMonthRange(data.issue),
    datasets: [{
        data: data.pr,
        label: "PRs",
        backgroundColor: "rgba(255, 205, 86, 0.2)",
        borderColor: "rgba(255, 205, 86, 1)",
        parsing: {
          xAxisKey: "created_at",
          yAxisKey: "timeToClose"
        },
      },
      {
        data: data.issue,
        label: "Issues",
        backgroundColor: 'rgba(54, 162, 235, 0.2)',
        borderColor: 'rgba(54, 162, 235, 1)',
        parsing: {
          xAxisKey: "created_at",
          yAxisKey: "timeToClose",
          label: "created_at"
        }
      }
    ]
  };

  const myChart = new Chart(ctx, {
    type: 'line',
    data: myData,
    options: {
      backgroundColor: [
        'rgba(255, 99, 132, 0.2)',
        'rgba(255, 159, 64, 0.2)',
        'rgba(255, 205, 86, 0.2)',
        'rgba(75, 192, 192, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(153, 102, 255, 0.2)',
        'rgba(201, 203, 207, 0.2)'
      ],
      borderColor: [
        'rgb(255, 99, 132)',
        'rgb(255, 159, 64)',
        'rgb(255, 205, 86)',
        'rgb(75, 192, 192)',
        'rgb(54, 162, 235)',
        'rgb(153, 102, 255)',
        'rgb(201, 203, 207)'
      ],
      borderWidth: 1,

    }
  });
</script>
