<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">

  {%- include head.html -%}

  <body>

    {%- include scripts.html -%}
    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="sidebar_style">
        <!-- yes, I know this isn't very semantic at all-->

        {%- include alive_sidebar.liquid -%}

          <div class="vis">

          <h1>{{ page.title }}</h1>

          {{ page.content }}