<div>



    {% assign alive = site.data.aggregate.report_stillAlive %}
    <h3>Still Alive breakdown by repo</h3>
    <h4>Status counts </h4>
    <canvas id="stillAliveSummary"></canvas>
    <h4>Status meanings</h4>
    <dl>
        <dt>Declined: </dt>
        <dd>Was active, now inactive</dd>
        <dt>Activated: </dt>
        <dd>Was inactive, now active</dd>
        <dt>Ongoing: </dt>
        <dd>Was active at start and end of study</dd>
        <dt>Inactive: </dt>
        <dd>Was inactive at start and end of study</dd>
    </dl>

    <div>
        {%for status in alive.checks.byStatus %}

        <h4>{{status[0]}}</h4>
        <div class="column">
            {% assign repos = status[1] | sort_natural %}
            {% for repo in repos %}
            <div><a href="/repo/{{repo}}">{{repo}}</a></div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>

    <div>URLs queried: {{alive.urlsSubmitted}}, Successful results retrieved for: {{alive.successfulResults}} repos.
    </div>
</div>

<script>

    const data = {
        datasets: [{
            label: 'Repo activity, mid 2021 to mid/late 2022.',
            data: {{ alive.checks.statusCounts | jsonify }}}]
    };

    const config = {
        type: 'bar',
        data: data,
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        },
    };

    let chart = new Chart(
        document.getElementById('stillAliveSummary'), config);

</script>