<div class="aggGraph statusList">
    {%- include expectations.liquid -%}
  </div>

<div id="aggregateAnchor"></div>

<script>
    // (function(){
    const datasetLabels = [
        "Month 0",
        "Month 6",
        "Month 12"
    ];

    const graphs = [
        {name : "project-open-contrib", type : "bool"},
        {name :  "funds-grant-funds",type : "bool"},
        {name :  "funds-others-pick-up",type : "bool"},
        {name :  "future-funding-plans",type : "bool"},
        {name :   "project-user-count",type : "scale"},
        {name :  "project-user-potentl",type : "scale"},
        {name :  "future-one-year",type : "activity"},
        {name :  "future-five-years",type : "activity"},
    ];

    const numericGraphs = [
        "leadership-team-size"
    ];

    //filter incomplete answers. I feel like there's a more concise way to do it. 
    survey0 = survey0.filter(answer => (answer["project-open-contrib"] == "Yes") || (answer["project-open-contrib"] == "No"));
    survey6 = survey6.filter(answer => (answer["project-open-contrib"] == "Yes") || (answer["project-open-contrib"] == "No"));
    survey12 = survey12.filter(answer => (answer["project-open-contrib"] == "Yes") || (answer["project-open-contrib"] == "No"));

    const surveys = [survey0, survey6, survey12];

    //aggregate stats across rows
    function agg_completed_bool(survey, variable) {
        return survey.reduce(function (newVal, answer, i) {
            //init datastore object
            if (i === 1) {
                newVal = {
                    "Yes": 0,
                    "No": 0
                }
            } else {
                if (!(answer[variable] in newVal)) {
                    // console.debug('null value, not adding', answer, answer[variable]);
                } else {
                    newVal[answer[variable]]++;
                }
            }
            return newVal;
        });
    }

    // todo - adjust this so it visualises based on a pre-set selection of choices, not just booleans

    function generateDataSet(variable) {
        return surveys.map(function (survey, i) {
            return {
                data: agg_completed_bool(survey, variable),
                label: datasetLabels[i],
                backgroundColor: backgroundColor[i],
                borderColor: borderColor[i],
                borderWidth: 1
            }
        });
    };

    const generateChart = function (variable) {
        try {
            return new Chart(document.getElementById('chart' + variable), {
                type: 'bar',
                data: {
                    datasets: generateDataSet(variable)
                },
                options: {
   
                    plugins: {
                        title: {
                            text: questionText[variable],
                            display: true
                        }
                    },
                    backgroundColor: backgroundColor,
                    borderColor: borderColor
                }
            });
        } catch (e) {
            console.log(e);
        }
    }

    const generateNumChart = function (variable) {
        try {
            return new Chart(document.getElementById('chart' + variable), {
                type: 'bar',
                data: {
                    datasets: generateDataSet(variable)
                },
                options: {
                    indexAxis: 'x',
                    plugins: {
                        title: {
                            text: questionText[variable],
                            display: true
                        }
                    },
                    backgroundColor: backgroundColor,
                    borderColor: borderColor
                }

            });
        } catch (e) {
            console.log(e);
        }
    }

    //this has to be done before we generate the graphs or it doesn't render, idk why
    graphs.map(function (graph) {
        generateElem(graph.name, null, true);
    });
    graphs.map(function (graph) {
        generateExpChart(graph.name, "age", graph.type);
    });

</script>